<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<link rel="stylesheet" href="bootstrap_lux.css">

<div class="layout-column align-items-center mt-50">
  <section class="layout-row align-items-center justify-content-between">
      <label class="form-label">Celsius: </label>
        <input type="number"
               class="form-control large"
               data-test-id="celsius-input"
               [(ngModel)]="c"
               (ngModelChange)="onChange($event, 'c')" />
</section>

  <section class="layout-row align-items-center justify-content-between">
    <label>Fahrenheit: </label>
    <input type="number"
           class="form-control  large"
           data-test-id="fahrenheit-input"
           [(ngModel)]="f"
           (ngModelChange)="onChange($event, 'f')" />
  </section>
</div>

